.AuthorCard{
  min-height: 250px;
  border: 1px solid #30363d;
  border-radius: 3px;
  padding: 16px;
}

.AuthorCard .avatar {
  width: 200px;
  height: 200px;
}

@media (min-width: 768px) {
  .AuthorCard .avatar {
    margin-right: 20px;
    float: left;
  }
}

.AuthorCard .me {
  margin-bottom: 5px;
}

.AuthorCard .me a {
  float: right;
  padding-left: 10px;
}

.AuthorCard .role {
  margin-bottom: 20px;
}

.AuthorCard .location {
  font-size: 80%;
  margin-bottom: 10px;
}

.AuthorCard .location span {
  padding-left: 5px;
}

.AuthorCard .support {
  font-size: 80%;
  margin-bottom: 10px;
}

.AuthorCard .support a {
  padding-left: 8px;
}
