.container {
  min-height: 250px;
  border: 1px solid #30363d;
  border-radius: 3px;
  padding: 16px;
}

.avatar {
  width: 250px;
  height: 250px;
}

@media (min-width: 768px) {
  .avatar {
    margin-right: 20px;
    float: left;
  }
}

.me {
  margin-bottom: 5px;
}

.me a {
  float: right;
  padding-left: 10px;
}

.role {
  margin-bottom: 20px;
}

.location {
  font-size: 80%;
  margin-bottom: 10px;
}

.location span {
  padding-left: 5px;
}

.donate {
  font-size: 80%;
}

.donate a {
  padding-left: 8px;
}
