.container {
  border: 1px solid #30363d;
  border-radius: 3px;
  padding: 16px;
}

.title a.link {
  display: block;
}

@media (min-width: 768px) {
  .title a.link {
    float: right;
    padding-left: 15px;
  }
}

ul.badges {
  list-style-type: none;
  margin: 0 0 20px;
  padding: 0;
}

ul.badges li {
  display: inline;
  padding-right: 5px;
}

.code{
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
  padding: 16px;
  margin: 0;
  font-size: 85%;
  background-color: rgba(110,118,129,0.4);
  border-radius: 6px;
}