
.grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

@media (min-width: 970px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
